:root {
    --main-text-color: #3E3E3E;
    --second-text-color: #7A6F63;
    --main-bg-color: #FFF9F0;
    --second-bg-color: #FDF6E3;
    --hover-color: #D6B87C;
    --ui-elements-color: #E8D9BF;
    --shadow-border-color: #DDD2C4;
}