<footer class="footer" id="footer">
    <div class="container footer-flex-container">
      
        <a href="../index.html"><img src="./img/logo.png" alt="logotype" class="footer-img"></a>
      <ul class="footer-list" data-aos="zoom-in-down" data-aos-delay="800">
        <li class="footer-list-item"><a href="tel:+381237658724">Тел: +38 (123) 765 87 24</a></li>
        <li class="footer-list-item"><a href="mailto:codingmagic@gmail.com">roomcraft@gmail.com</a></li>
        <li class="footer-list-item"><a href="#">Facebook: RoomCraft</a></li>
        <li class="footer-list-item"><a href="#">Twitter: RoomCraft</a></li>
        <li class="footer-list-item"><a href="#">Instagram: RoomCraft</a></li>
      </ul>
     
      <div class="footer-subscribe">
        <form action="#" class="footer-subscribe-form">
          <input
            type="email"
            placeholder="Ваша ел. адреса..."
            class="footer-email-input"
            required
            data-aos="zoom-in-down" data-aos-delay="1200"
          >
          <button type="submit" class="footer-subscribe-button" data-action="open-footer-modal" data-aos="zoom-in-down" data-aos-delay="1600">
            Підписатись
          </button>
        </form>
        <p class="footer-subscribe-note">
          *Підписавшись, Ви зможете оптимізувати інформацію про новинки на сайті
        </p>
      </div>
    </div>
  </footer>