<header class="header">
    <div class="container">
        <div class="headerFlex">
            <a href="#"><img src="" alt="logo" class="headerFlex_logo"></a>
            <ul class="headerFlex_list">
                <li class="headerFlex_item">
                    <a href="#" class="headerFlex_link">Кімната</a>
                </li>
                <li class="headerFlex_item">
                    <a href="#" class="headerFlex_link">Персонаж</a>
                </li>
            </ul>
            <div class="headerTheme">
                <label class="headerTheme_label">
                    <input type="checkbox" class="headerTheme_checkbox" id="themeToggle">
                    <span class="headerTheme_slider"></span>
                </label>
            </div>
        </div>
        
    </div>
</header>